html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 72px;
  margin: 0;
}

.social img {
  width: 100px;
  margin: 0 80px;
  padding: 100px 0 20px;
}

h1, .social img {
  opacity: 0.2;
  filter: grayscale(1);
  transition: all 1s, margin-left 0s, margin-right 0s, width 0s, font-size 0s;
}

h1:hover, .social:hover img {
  opacity: 1;
  filter: grayscale(0);
}

/* Animations */

@-webkit-keyframes fade-in { from { opacity: 0;} to { opacity: 1;} }
@keyframes fade-in { from { opacity: 0;} to { opacity: 1;} }

header, .social {
  opacity: 0;
  -webkit-animation: fade-in 1s ease-in 1;
  animation: fade-in 1s ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

header {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.social.blog {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.social.github {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.social.twitter {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

/* Responsive */

@media all and (max-width: 788px) {
  h1 {
    font-size: 48px;
  }

  .social img {
    margin: 0 40px;
    width: 80px;
  }
}

@media all and (max-width: 488px) {
  h1 {
    font-size: 32px;
  }

  .social img {
    margin: 0 20px;
    width: 60px;
  }
}

@media all and (max-width: 308px) {
  h1 {
    font-size: 24px;
  }

  .social img {
    margin: 0 20px;
    width: 40px;
  }
}
