#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 560px;
  height: 360px;
  margin-top: -180px;
  margin-left: -280px;
  text-align: center;
}

h1, .social {
  opacity: 0.1;
  transition: all 1s;
}

h1:hover, .social:hover {
  opacity: 1;
}

h1 {
  font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 72px;
  margin-top: 0;
  padding-bottom: 50px;
  display: inline-block;
}

.social {
  margin: 0 60px;
  -webkit-filter: grayscale(1);
}
.social.blog {
  margin-left: 0;
}
.social.twitter {
  margin-right: 0;
}

.social:hover {
  -webkit-filter: grayscale(0);
}

.social img {
  width: 100px;
  margin: 0;
  padding: 0;
}

@-moz-keyframes reset { 0% {opacity: 0;} 100% {opacity: 0;} }
@-webkit-keyframes reset { 0% {opacity: 0;} 100% {opacity: 0;} }
@keyframes reset { 0% {opacity: 0;} 100% {opacity: 0;} }

@-moz-keyframes fade-in { 0% {opacity: 0;} 60% {opacity: 0;} 100% {opacity: 0.1;} }
@-webkit-keyframes fade-in { 0% {opacity: 0;} 60% {opacity: 0;} 100% {opacity: 0.1;} }
@keyframes fade-in { 0% {opacity: 0;} 60% {opacity: 0;} 100% {opacity: 0.1;} }

h1 {
  -moz-animation: reset 0s, fade-in 2s;
  -webkit-animation: reset 0s, fade-in 2s;
  animation: reset 0s, fade-in 2s;
}

.social {
  -moz-animation: reset 2s ease-in 0s 1, fade-in 2s ease-in 0s 1;
  -webkit-animation: reset 2s ease-in 0s 1, fade-in 2s ease-in 0s 1;
  animation: reset 2s ease-in 0s 1, fade-in 2s ease-in 0s 1;
}

.social.blog {
  -moz-animation-delay: 0s, 0.5s;
  -webkit-animation-delay: 0s, 0.5s;
  animation-delay: 0s, 0.5s;
}
.social.github {
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  animation-delay: 0s, 1s;
}
.social.twitter {
  -moz-animation-delay: 0s, 1.5s;
  -webkit-animation-delay: 0s, 1.5s;
  animation-delay: 0s, 1.5s;
}

@media all and (max-width: 560px) {
  #intro {
    left: 0;
    width: 100%;
    height: 230px;
    margin-left: 0;
    margin-top: -115px;
  }
  h1, .social {
    opacity: 1;
  }
  h1 {
    font-size: 40px;
  }
  .social {
    -webkit-filter: grayscale(0);
    margin: 5px;
  }

  @-moz-keyframes fade-in { 0% {opacity: 0;} 60% {opacity: 0;} 100% {opacity: 1;} }
  @-webkit-keyframes fade-in { 0% {opacity: 0;} 60% {opacity: 0;} 100% {opacity: 1;} }
  @keyframes fade-in { 0% {opacity: 0;} 60% {opacity: 0;} 100% {opacity: 1;} }
}
