---
layout: none
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Imanel</title>
    <meta name="author" content="{{ site.author }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ root_url }}/favicon.png" rel="icon">
    <link href="{{ root_url }}/stylesheets/intro.css" media="screen, projection" rel="stylesheet" type="text/css">
    {% include custom/head.html %}
    {% include google_analytics.html %}
  </head>
  <body>
  <section id="intro">
    <h1>Hello, I’m Bernard</h1>
    <div id="social">
      <a href="{{ root_url }}/blog" name="Blog" class="social blog"><img src="{{ root_url }}/assets/rss.png"></a>
      <a href="http://github.com/imanel" name="Github" class="social github"><img src="{{ root_url }}/assets/github.png"></a>
      <a href="http://twitter.com/_imanel" name="Twitter" class="social twitter"><img src="{{ root_url }}/assets/twitter.png"></a>
    </div>
  </body>
</html>
