// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
  background: white;
}

body {
  box-shadow: 0px 0px 5px #ccc;

  > header h1 {
    font-weight: bold;
    display: block;
    text-align: center;
  }

  > footer {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 900px) {
  body > header {
    margin-top: 1em;
  }

  body > footer {
    margin-bottom: 3em;
  }
}
